/* makeing responsive  */
@media (max-width:1058px) {
    header{
        padding: 18px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home_text h1{
        font-size: 3rem;

    }
}

@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home_text h1{
        font-size: 2.4rem;

    }

}

@media (max-width:768px){
    header{
        padding: 12px 4%;
    }
    #menu_icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        width: 240px;
        height: 100vh;
        top: 110%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: .2s linear;
        text-align: left;
    }
    .navbar.active{
        right: 0;
    }
    .home_text h1{
        font-size: 2rem;
    }

}
@media (max-width:360px){
    .home_text span{
        font-size: .8rem;
    }
    .home_text h1 {
        font-size: 1.7rem;
    }
    .cart img{
        width: 77px;
    }
    .heading h1 {
        font-size: 1.4rem;
    }
}